body {
    background-color: rgb(9, 9, 9);
    margin: 0;
}

.div1 {
    text-align: center;
    background-color: rgb(9, 9, 9);
    color: beige;

}

.devices {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.installations {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.training {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.title {
    text-align: center;
    transform: scale(0.5);

}

.footer-main {
    background-color: rgb(18, 18, 18);
    text-align: center;
    font-size: smaller;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    padding: 6px;
}


