body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.div1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: beige;

}

.title {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.footer-main {
    background-color: rgb(18, 18, 18);
    text-align: center;
    font-size: smaller;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    padding: 6px;
}


